a {
    text-decoration: none;
}

#about {
    background-image: radial-gradient(circle, #E8C11A,  #97C9AF);
    background-size: 200% 200%;
}

.about-img {
    height: 200px;
}

.about-section {
    margin-top: 8em;
    margin-bottom: 8em;
}

.blyp-text-logo, .nav-link, .name {
    font-style: italic;
    font-weight: 700;
}

.blyp-text-logo, .button, h1, h2, h3, .navigation li, .name, .subheader {
    font-family: Agenda,  Helvetica, Arial, sans-serif;
}

.button {
    border: solid 2px white;
    background-color: transparent;
    border-radius: 1em;
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: .35em;
    padding-left: .6em;
    padding-right: .6em;
    padding-top: .3em;
    width: 150px;
}

.button:hover{
    color: #EA7F36;
    box-shadow: 0px, 0px, 5px, rgba(234, 126, 54, 0.527);
}

.button:hover, footer {
    background-color: white;
}

.button, .navigation .nav-link{
    color: white;
}

.button-temp {
    width: fit-content;
}

.card {
    
    padding: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.download-button {
    background-image: url("./img/badge-download-on-the-app-store-white.svg");
    display: block;
    height: 40px;
    width: 120px;
}

.email {
    font-style: italic;
}

footer {
    padding: 1em;
}

footer .link {
    color: #EA7F36;
}

h2 {
    font-size: 4rem;
    line-height: 85%;
    margin: 0px;
}

h3 {
    font-size: 2rem;
}

.header {
    font-size: 6rem;
    line-height: 85%;
}

.header, .navigation ul, .blyp-logo {
    margin: 0;
    padding: 0;
}

#headline {
    background: linear-gradient(-200deg, #97C9AF, #97C9AF, #C5C45A, #E8C11A, #E5A21C, #EA7F36);
    background-size: 200% 200%;
    padding-bottom: 14em;
    padding-top: 14em;
    -webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;
    width: inherit;
}

.name {
    font-size: 1.25rem;
}

.navigation {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    height: 2em;
    justify-content: space-between;
    padding-top: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navigation ul {
    list-style-type: none;
    overflow: hidden;
}

.navigation li {
    float: left;
}
  
.nav-link {
    border: solid 2px transparent;
    display: block;
    text-align: center;
    margin: 1em;
    padding-bottom: .3em;
    padding-left: .6em;
    padding-right: .6em;
    padding-top: .3em;
    text-decoration: none;
}
.nav-link:hover {
    border: solid 2px white;
    border-radius: 1em; 
}

#purpose {
    background-color: #97C9AF;
}

.section {
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

.subheader {
    font-size: 2rem;
    font-weight: 500;
    line-height: 97%;
    padding-top: .2em;
}

#support {
    background-color: #E5A21C;
}

#team {
    background-color: #E8C11A;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Extra small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .section {
        padding-bottom: 10em;
        padding-left: 13em;
        padding-right: 13em;
        padding-top: 10em;
    }
 }