.headline {
  background-image: url(./img/map-seattle.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.support-link-button {
  background-color: #FACFAD;
  border: none;
  box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease;
  color: black;
}

.support-link-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease;
}